
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @proposal.customer %></h1>
    <p>
      You have received a new proposal,
      to view it click the link below:
    </p>
    <p>
      <a href="http://localhost:4200/proposal/<%= @proposal.id%>"> Go to proposal </a>  
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
